<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>책 대여</title>
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    </head>
    <body>
    <div>
        <div>
            <h4>책 등록</h4>
        </div>
        <form th:action="@{/api/v1/rentals}" th:object="${rentalRequest}" method="post">
            <label for="userId">유저 식별자</label>
            <input type="text" id="userId" name="userId" th:field="*{rentalRequest.userId}" required>
            <br>
            <label for="userId">책 식별자</label>
            <input type="text" id="bookId" name="bookId" th:field="*{rentalRequest.bookId}" required>
            <br>
            <button type="submit">등록</button>
        </form>
    </div>
    </body>
</html>